{% extends "base.html" %}

{% block HeaderTitle %} <title>О компании</title> {% endblock %}
{% block HeaderStyles %} <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}"> {% endblock %}

{% block Content %}
<div class="contentWidth">
    <div class="about">
        <img src="{{ url_for('static', filename='./img/logo.jpg') }}" alt="">
        <div>
            <p>
                Добро пожаловать в наш новый магазин домашнего текстиля и одежды "Урал текстиль"!
            </p>
            <p>
                Огромный ассортимент: женская домашняя одежда и детские пижамы, постельное белье высшего качества, одежда для дома, домашние наборы из велюра, хлопка, шелка, вискозы и других материалов, мужские пижамами. Российские, итальянские, немецкие производители текстиля.
            </p>
            <p>
                Все лучшее и самое качественное для Вас, в нашем интернет магазине домашнего текстиля и одежды.
            </p> 
            <p>
                История компании "Урал текстиль" началась в 1995 году, когда открылся первый салон-магазин – небольшой отдел в торговом комплексе "Дом быта" в центре Челябинска.
                Текстильное производство было запущено в 1997 году,  когда "Урал текстиль" открыл первый цех по пошиву штор.
            </p>
            <p>
                В 2001 году к основному производству добавился пошив постельных принадлежностей. При этом компании удалось занять до сих пор пустующую – среднюю нишу, предложив белье более высокого качества по приемлемой цене.  
                Детское постельное бельё полностью отвечает всем требованиям, которые обычно предъявляются к такому белью. Так, оно экологически безопасно, не вызывает аллергии, быстро впитывает и отдает влагу, выдерживает многократную стирку, не теряя своих свойств. Детские комплекты - это яркие цвета, сказочные рисунки, пробуждающие ребячью фантазию и дающие огромный заряд радости. Нежное на ощупь постельное белье позволит малышам засыпать, думая только о приятном.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block FooterScripts %} 
<script src="{{ url_for('static', filename='js/about.js') }}"></script>
{% endblock %}